@import "variables";

.header {
  background-color: $dark-40;
  position: sticky;
  top: 0;
  width: 100%;

  .centralizar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .logo__img {
      background-color: $dark-10;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__menu {
    &__icon {
      width: 1.75rem;
      height: 1.75rem;
    }
  }

  &__navigate {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    .centralizar {
      max-width: 1228px;
      margin: 0 auto;
      justify-content: space-between;
      padding: 30px 0;
    }

    &__logo {
      display: flex;
      align-items: center;
      gap: 1rem;

      &:hover > .logo__text {
        text-decoration: underline;
        cursor: pointer;
      }

      .logo__img {
        background-color: $dark-10;
      }

      .logo__text {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }

    &__menu {
      display: none;
    }
    &__navigate {
      display: flex;
      align-items: center;
      gap: 3.5rem;

      .nav__container {
        display: flex;
        gap: 3rem;

        .navigate__link {
          font-size: 1.125rem;
          color: $dark-10;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .button__container {
        display: flex;
        gap: 2rem;

        .navigate__button {
          padding: 0;
          border: none;
          background: none;

          .button__img {
            height: 20px;
            width: 20px;
            transition: 0.25s;

            &:hover {
              width: 22px;
              height: 22px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
